.buttons {
  margin-left: 20px;
}
button {
  background-color: var(--dark);

  padding: 5px 10px;
  margin: 0 10px;
  display: inline-flex;

  &[disabled] {
    display: none;
  }

  background: var(--dark);

  .material-symbols-rounded {
    margin-right: 5px;
  }

  border: 2px solid var(--accent);
  border-radius: 10px;
  transition: box-shadow 300ms ease, border 400ms ease;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: transparentize($color: #7b4b91, $amount: 0.71);
    border: 2px solid var(--accent);
    box-shadow: 0px 0px 20px var(--accent);
  }
}
